#blogContent {
    height: 700px;
    overflow: hidden;
}

.thumbnails [class^="span"] {
    border-left: 0;
}

ul[id*='portfolioList_'] {
    position: relative;   
}
            
ul[id*='portfolioList_'] li {
    padding: 0;

}
            
ul[id*='portfolioList_'] [class*="span"]:first-child {
    /*margin-left: 2.5641%;*/

}
            
.imageContainer {}
            
.imageContainer:before, .imageContainer:after {
    content:"";
    display:table;
}
.imageContainer:after {
    clear:both;
}
            
.imageContainer li {
    transition:
    opacity 0.4s linear,
    transform 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
    -webkit-backface-visibility: hidden
}
            
.imageContainer li.blur {
    transform: scale(0.9);
    opacity: 0.7;
}
            
.imageContainer li.blur a {
    color: rgba(0, 0, 0, 0);
    opacity: 0.5;   
}
            
.imageContainer li.active {
    transform: scale(1.05);
    z-index: 100;  
    opacity: 1;
}

#nextPage, #prevPage {
    width: 45px;
    height: 45px;
    border-top-left-radius :75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius :75px;
    border-bottom-right-radius :75px;
    margin-top: 280px;
}

#nextPage.horizontal, #prevPage.horizontal {
   /* position: absolute;
    top: 40%;
    left: 75%;
    z-index: 5;*/
    transform:rotate(90deg);
-ms-transform:rotate(90deg); /* IE 9 */
-webkit-transform:rotate(90deg); /* Safari and Chrome */
}